{% extends "catalog/base.html" %}
 
{% block title %}
    Заказ
{% endblock %}
 
{% block content %}
<header class="header-catalog">
    {% block navigation %}
    {% include 'catalog/navbar.html' %}
    {% endblock %}
    </header>
<div class="container">
    <h1 class="title-1">Оформление заказа</h1>
 
    <div class="order-info">
        <h3>Твой заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} {{ item.product.name }}
                    <span>{{ item.total_price }} р.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Итого: {{ cart.get_total_price }} р.</p>
    </div>
    <div class="micro_navbar">
        <a href="/catalog/catalog-list/"><button class="detail_catalog">Вернуться в каталог</button></a>
    </div>
 
    <form action="." method="post" class="order-form" novalidate>
        {{ form.as_p }}
        <p><input type="submit" value="Оформить заказ"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}